{% extends 'base.html' %}
{% block content %}

<nav class="navbar navbar-light bg-light">
<div class="container">
{#    <div class="row">#}
          <a class="navbar-brand row">КАНБАЛА</a>
            <form class="form-inline mr-4">
              <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
{#    </div>#}
</div>
</nav>

<div class="container ">
    <div class="row">
        <div class="jumbotron col-7 mr-5 ">
  <p class="lead">Недавно добавленые регламенты</p>
  <hr class="my-4">
   <ol>
   Hello
       {% for regulation in regulations %}
           <li>
           World
               {{ regulation.short_name }}
           </li>
       {% endfor %}
   </ol>
    </div>
    <form class=" jumbotron col-4 form-signin grey-box" action="" method="post">

        <h3 class="mb-3">Войти</h3>
        {{ form.hidden_tag() }}

        {{ form.login(class='col-sm-12 form-control', type="text", placeholder='Электронная почта') }}<br>
        {% for error in form.login.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}

        {{ form.password(class='col-sm-12 form-control', type="password", placeholder='Пароль') }}<br>
        {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}

        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="list-unstyled white text-center">
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        {% endwith %}

        {{ form.remember_me() }} {{ form.remember_me.label }} <br>

        <div class="justify-content-center">
            {{ form.submit(class="btn btn-primary mt-1") }}
            <img class="imahe mt-1 ml-3" src="{{ url_for('static', filename='img/gos.svg') }}" />
            <p class="mt-3">
                <a href="{{ url_for('auth.reset_password_request') }}">Забыли пароль?</a>
            </p>
        </div>
    </form>
    </div>
</div>

{% endblock %}

