{% extends 'base.html' %}

{% block content %}
    <form class="container col-sm-6 form-signin" action="" method="post">
        <h3>Придумайте новый пароль</h3>
        {{ form.hidden_tag() }}
        {{ form.password.label() }}<br>
        {{ form.password(class='form-control') }}<br>
        {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}

        {{ form.password2.label() }}<br>
        {{ form.password2(class='form-control') }}<br>
        {% for error in form.password2.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
        {{ form.submit(class="btn btn-success") }}
    </form>
{% endblock %}