{% extends 'base.html' %}

{% block header %}
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="#">Канбала</a>
        <div class="text-right p-3">
            <a href="#">Мой профиль</a>
            <a href="{{ url_for('auth.logout') }}">Выйти</a>
        </div>
    </nav>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-3">
                <div class="jumbotron p-5">
                    <div class="rounded-circle text-center ml-auto mr-auto mb-2" style="background: gray; height: 100px; width: 100px"></div>
                    <p class="text-center font-weight-bolder m-0">{{ user.username }}</p>
                    <p class="m-0 text-center font-weight-light"><em>{{ user.organization }}</em></p>
                    <p class="mb-3 text-center font-weight-light"><em>{{ user.position }}</em></p>
                    <p>{{ users_regulations|length }} создано регламентов</p>
                    <p>{{ 0 }} согласовано регламентов</p>
                    <p>{{ 0 }} регламентов на согласовании</p>
                </div>
            </div>
            <div class="col-9">
                <form class="container-fluid p-0 mt-1" method="post">
                    <input class="form-control m-0" type="text" placeholder="Найти документ">
                </form>

                <h5 class="mt-3">Мои регламенты</h5>
                <a href="{{ url_for('main.regulation_create') }}" class="btn btn-primary text-light">Создать новый регламент</a>
                <div class="jumbotron p-3">
                    <ol>
                        {% for regulation in users_regulations %}
                            <li>
                                {{ regulation.short_name }}
                                <ul>
                                    {% for version in regulation.get_versions() %}
                                        <li>
                                            <a href="{{ url_for('main.regulation_show', regulation_version_id=version.id) }}">Версия {{ version.version_number }}</a>
                                            <span class="badge badge-dark">{{ version.status }}</span>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </li>
                        {% endfor %}
                    </ol>
                </div>
            </div>
        </div>
{#        <div class="row" style="height: 100vh">#}
{#            <section class="col-sm-2" style="background: antiquewhite">#}
{#                <a href="{{ url_for('main.regulation_create') }}" class="btn btn-primary m-3 text-light">Создать новый регламент</a>#}
{#                <p>Мои регламенты:</p>#}

{#            </section>#}
{#            <section class="col-sm-10" style="background: lightblue">#}
{#                рабочая область#}
{#            </section>#}
{#        </div>#}
    </div>
{% endblock %}