{% extends 'base.html' %}

{% block header %}

        <nav class="navbar navbar-light bg-d mb-3">
            <a class="navbar-brand" href="#">Канбала</a>
            <div class="text-right p-3">
                <a href="#" class="mr-3 menu--text">Мой профиль</a>
                <a class="menu--text" href="{{ url_for('auth.logout') }}">Выйти</a>
            </div>
        </nav>

{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-3">
                <div class="jumbotron p-5">
                    <div class="rounded-circle text-center ml-auto mr-auto mb-2" style="background: gray; height: 100px; width: 100px"></div>
                    <p class="text-center font-weight-bolder m-0 size24" >{{ user.username }}</p>
                    <p class="m-0 text-center font-weight-light"><em>{{ user.organization }}</em></p>
                    <p class="mb-3 text-center font-weight-light"><em>{{ user.position }}</em></p>
                    <p class="size14"><span class="badge badge-primary badge-pill">{{ users_regulations|length }}</span> создано регламентов</p>
                    <p class="size14"><span class="badge badge-primary badge-pill">{{ 0 }}</span> согласовано регламентов</p>
                    <p class="size14"><span class="badge badge-primary badge-pill">{{ 0 }}</span> регламентов на согласовании</p>
                </div>
            </div>
            <div class="col-9">
                <form class="container-fluid p-0 mt-1 ml-3" method="post">
                    <div class="row">
                    <input class="form-control col-8" type="text" placeholder="Найти документ">
                    <button type="submit" class="btn btn-primary mb-2 col-2 ml-2">Найти</button>
                    </div>
                </form>

                <h5 class="mt-4 mb-3">Мои регламенты</h5>
                <div class="jumbotron p-3">
                    <ol>
                        {% for regulation in users_regulations %}
                            <li>
                                {{ regulation.short_name }}
                                <ul>
                                    {% for version in regulation.get_versions() %}
                                        <li>
                                            <a href="{{ url_for('main.regulation_show', regulation_version_id=version.id) }}">Версия {{ version.version_number }}</a>
                                            <span class="badge badge-dark">{{ version.status }}</span>
                                            <a href="{{ url_for('main.show_regulation_comment_mode', regulation_version_id=version.id) }}">В режиме комментирования</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </li>
                        {% endfor %}
                    </ol>
                <a href="{{ url_for('main.regulation_create') }}" class="btn btn-primary text-light mt-2">Создать новый регламент</a>
                </div>

        <h5 class="sogl mb-3">Регламенты на одобрении</h5>
                <div class="jumbotron p-3">
                    <ol>
                    {% for regulation in users_regulations %}
                    {% for version in regulation.get_versions() %}
                    {% if version.status == 'В работе' %}
                            <li>
                                {{ regulation.short_name }}
                                <ul>
                                        <li>
                                            <a href="{{ url_for('main.regulation_show', regulation_version_id=version.id) }}">Версия {{ version.version_number }}</a>
                                        </li>
                                </ul>
                            </li>
                    {% endif %}
                    {% endfor %}
                    {% endfor %}
                    </ol>
                </div>
            </div>
        </div>
    </div>
{% endblock %}