{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <p class="m-0">Регламент: {{ regulation_version.parent_regulation().short_name }} <a href="#">Переименовать</a></p>
                <p>Версия {{ regulation_version.version_number }}</p>
            </div>
            <div class="col">
                <p class="m-0">Дата создания {{ regulation_version.created.strftime('%d.%m.%y %H:%M') }}</p>
                <p>Статус <em>{{ regulation_version.status }}</em></p>
            </div>
        </div>
        <div class="row">
            <form class="col" method="POST" action='/save_regulation_{{ regulation_version.id }}' id='editor'>
                <div class="form-group" id='headers'>
                    <div id='hdrs' class="p-3" style="background: lightgray">
                        <b>Шапка документа</b>
                        <div class="">
                            <label for='header_application'>Отметка о приложении</label>
                            <textarea class='form-control' name='header_application' id='header_application'>{{ data['header_application'] }}</textarea>
                        </div>
                        <div >
                            <label for='header_name'>Наименование приложения</label>
                            <textarea class='form-control' name='header_name'  id='header_name'>{{ data['header_name'] }}</textarea>
                            <label for='header_base_doc'>На основании нормативно-правовых актов</label>
                            <textarea class='form-control' name='header_base_doc'  id='header_base_doc' placeholder="вставьте ссылки на документы через пробел">{{ data['header_base_doc'] }}</textarea>
                        </div>
                    </div>
                </div>
                <div class="p-3">
                    <p><b>Основной текст</b></p>
                    <!-- section title -->
{#                    <div class="d-inline">#}
{#                        <label for='sect_1'>1. </label>#}
{#                        <input id='sect_1' name='sect_1' type='text'>#}
{#                    </div>#}

                    <!-- paragraph -->
{#                    <div id='paragraphs-1'>#}
{#                        <button type="button" onclick="event.preventDefault(); new_paragraph(1);">Новый пункт</button>#}
{#                        <div>#}
{#                            1.1<textarea text='paragraph_1_1'></textarea>#}
{#                        </div>#}
{#                    </div>#}
                    <a href="{{ url_for('main.editor_add_chapter', regulation_version_id=regulation_version.id) }}" class="btn btn-success">Добавить раздел</a>
                </div>
                <button class="btn btn-primary" form="editor" type="submit">Сохранить</button>
                <a class="btn btn-secondary" href="{{ url_for('main.index') }}">Закрыть</a>
            </form>
        </div>
    </div>
{#    <button onclick="event.preventDefault(); new_section()">Новый раздел</button>#}
{% endblock %}

{% block scripts %}
    <script>
        let data = {{ data|safe }}
        if ('main_text' in data) {
            console.log(data['main_text'])
        }
    </script>
{#<script>#}
{#    sections = { '1': 1 }#}
{##}
{#    function new_section() {#}
{#        sections[Object.keys(sections).length + 1] = 0#}
{#        new_sect = document.createElement('div')#}
{#        new_sect.classList.add('d-inline')#}
{#        new_sect.classList.add('form-control')#}
{##}
{#        new_labele = document.createElement('label')#}
{#        new_labele.setAttribute('for', 'sect_' + String(Object.keys(sections).length))#}
{#        new_labele.innerHTML = String(Object.keys(sections).length) + ". "#}
{##}
{#        new_input = document.createElement('input')#}
{#        new_input.setAttribute('id', 'sect_' + String(Object.keys(sections).length))#}
{#        new_input.setAttribute('name', 'sect_' + String(Object.keys(sections).length))#}
{#        new_input.setAttribute('type', 'text')#}
{##}
{#        new_subs_cont = document.createElement('div')#}
{#        new_subs_cont.setAttribute("id", 'paragraphs-' + String(Object.keys(sections).length))#}
{#        new_subs_cont.innerHTML = '<button type="button" onclick="event.preventDefault(); new_paragraph(' + Object.keys(sections).length + ');">Новый пункт</button>'#}
{##}
{#        new_sect.appendChild(new_labele)#}
{#        new_sect.appendChild(new_input)#}
{#        new_sect.appendChild(new_subs_cont)#}
{#        document.getElementById('editor').appendChild(new_sect)#}
{#    }#}
{##}
{#    function new_paragraph(section_id) {#}
{#        sections[String(section_id)] += 1#}
{#        new_subsect = document.createElement("div")#}
{#        new_labele = document.createElement('label')#}
{#        new_labele.innerHTML = String(section_id) + '.' + String(sections[String(section_id)])#}
{#        new_inputfield = document.createElement('textarea')#}
{#        new_inputfield.setAttribute("name", "paragraph_" + String(section_id) + "_" + String(sections[String(section_id)]))#}
{#        new_subsect.appendChild(new_labele)#}
{#        new_subsect.appendChild(new_inputfield)#}
{##}
{#        old_sect = document.getElementById("paragraphs-" + section_id)#}
{#        old_sect.appendChild(new_subsect)#}
{#    }#}
{#</script>#}
{% endblock %}