.size14{
    font-size: 14px !important;
}

.bg-d {
    background-color: #C4C4C4 !important;
}

.sogl{
    margin-top: 100px;
}

.size24{
    font-size: 24px !important;
}

.menu--text{
    color: black !important;
}

.mr-10{
    margin-right: 10rem !important;
}

.grey-box{
    background-color: #EEE;
}