<!DOCTYPE html>
<html lang="ru">
<head>
    {% block head %}
        <meta charset="UTF-8">
        <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
{#        <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.png') }}" type="image/png">#}
{#        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" type="text/css">#}
        {% block styles %}
            {{ bootstrap.load_css() }}
        {% endblock %}
    <title>
        {% if title %}
            {{ title }}
        {% else %}
            Главная
        {% endif %}
    </title>
    {% endblock %}
</head>
<body>
{% block header %}
{% endblock %}

{% block content %}
{% endblock %}

{% block footer %}
{% endblock %}

{% block scripts %}
    {{ bootstrap.load_js() }}
{% endblock %}

</body>
</html>